.ps{
    font-family: verdana;
    font-size: 20px;
    text-align: center; 
    font-size: large; 
    padding-top: 10px;
    border: 2px solid black;
    margin: 20px;
    transform: uppercase;
}